asgiref==3.10.0
Django==5.2.7
sqlparse==0.5.3
gunicorn==21.2.0
psycopg2-binary==2.9.9
Pillow==10.4.0
whitenoise==6.6.0         # Для обслуживания статических файлов (опционально, но рекомендуется)
# Дополнительные зависимости для production (опционально, но полезно)
django-environ==0.11.2    # Для работы с переменными окружения
python-dotenv==1.0.1      # Альтернатива для загрузки .env файлов
